body:not(.device-lg):not(.device-md) #header ~ #side-panel .side-panel-wrap .logo,
body:not(.device-lg):not(.device-md) #header ~ #side-panel #close-panel{
    display: none !important;
}

.heading > h2 {
  font-size: 30px;
  line-height: 40px;
}

#side-panel .side-panel-wrap {right: 0px;}

#mainMenu.menu-vertical nav > ul > li{border-bottom: 1px solid;}


.event-info-box {
  background:transparent;
}

.event-info-box .col-md-3, 
.event-info-box .col-md-4 {
	border-right: 2px solid #efae16;
}
.event-info-box .col-md-3:last-child, 
.event-info-box .col-md-4:last-child {
	border-right: 0;
}

.event-info-icon {
  color: #fff;
  clear: both;
  padding: 10px 22px;
  margin: 0 auto;
	display: block;
	text-align: center;
}

.event-info-content .info-title {
  font-size: 18px;
  font-weight: 800;
	color: #b41525;
}
.event-info-content .info-description {
  color: #000;
  font-size: 13px;
  font-weight: 700;
	margin-bottom:6px;
	text-align: center;
}

.post-title {
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.copyright-content {
  min-height: 60px;
  padding: 20px 0;
}

.btn-daftar{
	background-color: #528600;
	border-color: #528600;
	border-radius:0;
	color:#000;
}

ol.ol-syarat{
  list-style-type: decimal;
  list-style-position: outside;
  padding-left:20px;
}

.ol-syarat li{margin-bottom:8px;}

strong{color:#000;}

.checkbox label{padding-left:20px;}

.badge {
  min-width: 30px;
  padding: 0;
  font-size: 16px;
  background-color:#e9b114;
  border-radius: 50px;
  color:#000;
  line-height: 1.9;
}

.list-custom{display: inline-flex;}

.form-control{
  border-radius:0;
  border:0px;
  border-bottom:2px solid #ebebeb;
  padding: 4px 18px;
}

.simple .tabs-navigation li a:hover,
.simple .tabs-navigation li.active a{
  border-color: #e9b114 !important;
  color: #e9b114 !important;
}

.tabs-navigation li a{
  padding: 16px 50px 16px 0px;
  font-weight: 700;
}

#goToTop:hover i{background-color: #90ef00 !important;}
#goToTop i{
  line-height: 35px !important;
  font-size: 20px !important;
  color: #000;
}

.seperator, .separator {
  color:#eab215;
  width: 30%;
  margin: 10px 10px 10px 0;
  overflow: hidden;
  text-align: center;
  line-height: 1.2em;
}

.separator::before, .separator::after {border-bottom: 5px solid #eab215;}

.btn:hover{
  background-color: #eab215;
  border-color: #eab215;
}

#hadiah{padding-bottom:118px !important;}

.heading {margin-bottom: 20px;}

#side-panel .side-panel-wrap {overflow-y: hidden;}
  
.text-ig{
  text-transform: uppercase;
  font-size: 25px;
  color:#000;
}

.btn-daftar{
  color: #fff;
  font-weight: 800;
  letter-spacing: 3px;
  margin-top:20px;
}

#side-panel.dark #mainMenu nav > ul > li > a:hover{
  color:#90ef00;
}

.form-control-attach{
  border:0 !important;
  padding: 0;
}


@media (min-width:320px) and (max-width: 767px) {

  .event-info-box .col-md-3, .event-info-box .col-md-4 {border-right: transparent !important;}
  .event-info-content .info-description {margin-bottom: 20px;}
  .copyright-text{text-align:center !important;}
  #hadiah {padding-bottom:40px !important;}
  .btn-daftar{margin-bottom:20px;}
}

@media (min-width:768px) and (max-width:991px){ 

  .event-info-box .col-md-3, .event-info-box .col-md-4 {border-right: transparent !important;}
  .event-info-content .info-description {margin-bottom: 20px;}
  .copyright-text{text-align:center !important;}
  #hadiah {padding-bottom:40px !important;}
  .btn-daftar{margin-bottom:20px;}
}

@media (min-width:1024px) and (max-width:1365px){

}
